h1, h2, h3 {
    text-align: center;
}

body {
    background-repeat: repeat;
    background-image: url(/images/backgrounds/034C.jpg);
}

table {
    width: 100%;
}

.center {
    text-align: center;
}