h1, h2, h3 {
    text-align: center;
}

p {
    text-indent: 8px;
}

body {
    background-repeat: repeat;
    background-image: url(/backgrounds/034C.jpg);
}

table {
    width: 100%;
}

.center {
    text-align: center;
}